<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/hotel"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hotel"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyKhachSan"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".View_Customers.PhongDaDatActivity"
            android:exported="false" />
        <activity
            android:name=".View_Customers.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".View_Host.QLNhanVienActivity"
            android:exported="false" />
        <activity
            android:name=".View_Host.QLKhachHangActivity"
            android:exported="false" />
        <activity
            android:name=".View_Host.QLBillActivity"
            android:exported="false" />
        <activity
            android:name=".View_Host.QLDichVuActivity"
            android:exported="false" />
        <activity
            android:name=".View_Host.QLPhongActivity"
            android:exported="false" />
        <activity
            android:name=".View_Host.HostDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".View_Customers.BillActivity"
            android:exported="false" />
        <activity
            android:name=".View_Customers.BookingActivity"
            android:exported="false" />
        <activity
            android:name=".View_Customers.CustomerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".View_SignIn.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>